/* phone version */
.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--white);
}
.header-btn-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: none;
    border: none;
    width: 25px;
    height: 25px;
    font-size: 24px;
    color: var(--white);
    left: 15px;
    top: 15px;
}
.header-title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 35px;
    font-size: 32px;
    margin-top: 50px;
    font-weight: 500;
}
.header-temp{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 50px;
    font-size: 48px;
    margin: 10px 0 5px;
}
.header-temp-max-min{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 300px;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 18px;
}
/* phone version */
/* tablet version */
@media (min-width: 768px){
.header-btn-bar{
    width: 35px;
    height: 35px;
    font-size: 35px;
    left: 30px;
    top: 30px;
}
.header-title{
    width: 600px;
    height: 50px;
    font-size: 64px;
    margin-top: 110px;
}
.header-temp{
    width: 80px;
    height: 80px;
    font-size: 64px;
    margin: 30px 0 20px;
}
.header-temp-max-min{
    width: 350px;
    font-size: 24px;
    margin-bottom: 24px;
}
}
/* tablet version */
/* desktop version */
@media (min-width: 1300px){
.header-btn-bar{
    display: none;
}
.header-title{
    width: 900px;
    height: 55px;
    font-size: 70px;
    margin-top: 50px;
}
.header-temp{
    width: 920px;
    height: 88px;
    font-size: 60px;
    margin: 25px 0 18px;
}
.header-temp-max-min{
    height: 34px;
    width: 600px;
    font-size: 32px;
    margin-bottom: 60px;
}
}
/* desktop version */