/* phone version */
.search {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  left: 0;
  top: 0;
  position: fixed;
  width: 240px;
  height: 100vh;
  background: var(--blue);
  padding: 10px;
  gap: 20px;
}
.active {
  animation: Active 1s forwards;
}
@keyframes Active {
  from {
    transform: translateX(-1000px);
  }
  to {
    transform: translateX(0px);
  }
}
.search-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  width: 25px;
  height: 25px;
  font-size: 25px;
  border: none;
  color: var(--white);
}
.close-btn-input {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 10px;
}
/* phone version */
/* tablet version */
@media (min-width: 768px) {
  .search {
    width: 450px;
    padding: 16px 18px;
  }
  .search-close-btn {
    width: 35px;
    height: 35px;
    font-size: 35px;
  }
}
/* tablet version */
/* desktop version */
@media (min-width: 1300px) {
  .search {
    width: 25%;
    padding: 20px;
  }
}
/* desktop version */
