/* /////////////////////// 
 -------Resset code-------- 
 /////////////////////// */

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,h1,h2,h3,h4,h5,h6,p,ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

/* /////////////////////// 
 -------    Root   -------- 
 /////////////////////// */

:root {
  --black: #000000;
  --black-transparent: rgba(0, 0, 0, 15%);
  --black-transparent-1: rgba(0, 0, 0, 25%);
  --white: #ffffff;
  --whiite-1: #d1d1d1;
  --blue: #5296f5;
  --blue-1: #7fceff;
  --blue-2: #91c1ff;
  --purple: #8883ff;
}

body{
  background: linear-gradient(to bottom, var(--blue-1), var(--blue-2), var(--purple));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.weather-day-back-btn{
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
   position: fixed;
  top: 45px;
  padding: 0;
  font-size: 30px;
  color: var(--white);
  cursor: pointer;
  background: none;
  border: none;
}
@media (min-width: 768px) {
  .weather-day-back-btn{
  width: 35px;
  height: 35px;
  top: 80px;
  font-size: 40px;
  left: 30px;
}
}
@media (min-width: 1300px) {
  .weather-day-back-btn{
    display: flex;
  width: 35px;
  height: 35px;
  top: 70px;
  font-size: 40px;
  left: auto;
}
}