/* phone version */
.more-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  background: var(--black-transparent);
  border-radius: 10px;
  gap: 5px;
}
.more-item-title {
  font-size: 12px;
}
.more-item-details {
  font-size: 20px;
  font-weight: 200;
}
/* phone version */
/* tablet version */
@media (min-width: 768px) {
  .more-item {
    height: 100px;
    gap: 10px;
  }
  .more-item-title {
    font-size: 24px;
  }
  .more-item-details {
    font-size: 30px;
  }
}
/* tablet version */
/* desktop version */
@media (min-width: 1300px) {
  .more-item {
    height: 120px;
  }
  .more-item-title {
    font-size: 36px;
  }
  .more-item-details {
    font-size: 28px;
  }
}
/* desktop version */
